name: Build project

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout=10m --enable-all --disable varnamelen,nlreturn,depguard,wsl,nestif,tagliatelle,goerr113,cyclop,lll,funlen,gocritic,gocognit,gocyclo,exhaustivestruct,exhaustruct,maintidx

      - name: Run build script
        run: |
          CGO_ENABLED=0 GOOS=windows go build -a -o simple64-netplay-server.exe .
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -a -o simple64-netplay-server-arm64 .
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -o simple64-netplay-server-amd64 .

      - name: Upload folder
        uses: actions/upload-artifact@v3
        with:
          name: simple64-netplay-server
          path: simple64-netplay-server*
