name: Build project

on:
  push:
    branches:
      - main
      - go
  pull_request:

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"

      - name: Run build script
        run: |
          CGO_ENABLED=0 go build -a -o simple64-netplay-server main.go

      - name: Upload folder
        uses: actions/upload-artifact@v3
        with:
          name: simple64-netplay-server-win
          path: simple64-netplay-server
  lint-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout=10m
